<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon_bg</key>
		<string>order_1</string>
		<key>icon</key>
		<string>order_1_front</string>
		<key>title</key>
		<string>已取消</string>
	</dict>
	<dict>
		<key>icon_bg</key>
		<string>order_2</string>
		<key>icon</key>
		<string>order_2_front</string>
		<key>title</key>
		<string>待付款</string>
	</dict>
	<dict>
		<key>icon_bg</key>
		<string>order_3</string>
		<key>icon</key>
		<string>order_3_front</string>
		<key>title</key>
		<string>待发货</string>
	</dict>
	<dict>
		<key>icon_bg</key>
		<string>order_4</string>
		<key>icon</key>
		<string>order_4_front</string>
		<key>title</key>
		<string>已发货</string>
	</dict>
	<dict>
		<key>icon_bg</key>
		<string>order_5</string>
		<key>icon</key>
		<string>order_5_front</string>
		<key>title</key>
		<string>已完成</string>
	</dict>
</array>
</plist>
