<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cl_title</key>
		<string>珠宝玉石</string>
		<key>cl_icon</key>
		<string>coalition_diamonds</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>养生保健</string>
		<key>cl_icon</key>
		<string>coalition_health</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>服装配饰</string>
		<key>cl_icon</key>
		<string>coalition_Accessories</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>图文音响</string>
		<key>cl_icon</key>
		<string>coalition_book</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>便民超市</string>
		<key>cl_icon</key>
		<string>coalition_supermarket</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>五金建材</string>
		<key>cl_icon</key>
		<string>coalition_headware</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>电子数码</string>
		<key>cl_icon</key>
		<string>coalition_digital</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>美食小吃</string>
		<key>cl_icon</key>
		<string>coalition_book</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>休闲娱乐</string>
		<key>cl_icon</key>
		<string>coalition_headware</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>生活百货</string>
		<key>cl_icon</key>
		<string>coalition_digital</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>母婴日用</string>
		<key>cl_icon</key>
		<string>coalition_book</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>工艺礼品</string>
		<key>cl_icon</key>
		<string>coalition_Accessories</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>彩妆护肤</string>
		<key>cl_icon</key>
		<string>coalition_headware</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>汽车服务</string>
		<key>cl_icon</key>
		<string>coalition_Accessories</string>
	</dict>
	<dict>
		<key>cl_title</key>
		<string>教育培训</string>
		<key>cl_icon</key>
		<string>coalition_Accessories</string>
	</dict>
</array>
</plist>
