<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mg_title</key>
		<string>订单</string>
		<key>mg_icon</key>
		<string>1icon_dingdan</string>
		<key>mg_targetVc</key>
		<string>XHMyOrderController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>我的评价</string>
		<key>mg_icon</key>
		<string>profile_pingjia</string>
		<key>mg_targetVc</key>
		<string>XHMyEvaluationController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>我的收藏</string>
		<key>mg_icon</key>
		<string>9icon_shoucang</string>
		<key>mg_targetVc</key>
		<string>XHMyCollectionsController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>余额提现</string>
		<key>mg_icon</key>
		<string>11icon_tixian</string>
		<key>mg_targetVc</key>
		<string>XHWithdrawalController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>大额支付</string>
		<key>mg_icon</key>
		<string>16icon_daezhifu</string>
		<key>mg_targetVc</key>
		<string>XHWholesaleController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>我的人脉</string>
		<key>mg_icon</key>
		<string>5icon_renmai</string>
		<key>mg_targetVc</key>
		<string>XHMyContactsController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>地址管理</string>
		<key>mg_icon</key>
		<string>6icon_dizhi</string>
		<key>mg_targetVc</key>
		<string>XHMyAddressController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>认证设置</string>
		<key>mg_icon</key>
		<string>7icon_renzheng</string>
		<key>mg_targetVc</key>
		<string>XHAuthenticationController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>荐码</string>
		<key>mg_icon</key>
		<string>15icon_jianma</string>
		<key>mg_targetVc</key>
		<string>XHRecommendController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>密码管理</string>
		<key>mg_icon</key>
		<string>8icon_mima</string>
		<key>mg_targetVc</key>
		<string>XHPasswordManagerController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>关于</string>
		<key>mg_icon</key>
		<string>profile_guanyu</string>
		<key>mg_targetVc</key>
		<string>XHAboutController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>红包</string>
		<key>mg_icon</key>
		<string>profile_redP</string>
		<key>mg_targetVc</key>
		<string>XHRedPacketController</string>
	</dict>
	<dict>
		<key>mg_title</key>
		<string>退出登录</string>
		<key>mg_icon</key>
		<string>4icon_tuichu</string>
		<key>mg_targetVc</key>
		<string></string>
	</dict>
</array>
</plist>
