<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>必填信息</string>
		<key>content</key>
		<array>
			<dict>
				<key>title</key>
				<string>店铺名称</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>店铺区域</string>
				<key>subTitle</key>
				<string>请选择</string>
				<key>style</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>详细地址</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>行业类型</string>
				<key>subTitle</key>
				<string>请选择</string>
				<key>style</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>让利比例</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>主营业务</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>营业执照</string>
				<key>subTitle</key>
				<string></string>
				<key>style</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>选填信息</string>
		<key>content</key>
		<array>
			<dict>
				<key>title</key>
				<string>营业执照法人身份证或者法人授权书(加盖公章)</string>
				<key>subTitle</key>
				<string></string>
				<key>style</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>店铺电话</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>营业时间</string>
				<key>subTitle</key>
				<string>请选择</string>
				<key>style</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>店铺描述</string>
				<key>subTitle</key>
				<string>请设置</string>
				<key>style</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
